@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1td3xz');
    src:  url('../fonts/icomoon.eot?1td3xz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1td3xz') format('truetype'),
      url('../fonts/icomoon.woff?1td3xz') format('woff'),
      url('../fonts/icomoon.svg?1td3xz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul li  {
    list-style: none;
    /* display: inline; */
}
/* 背景 */
body {
    background-color: #2c3e50;
}
/* 版心 */
.core {
    width: 1200px;
    margin: 0 auto;
}
/* 头部 */
header {
    height: 50px;
    background-color: #7f8c8d;
    border-radius: 10px;
}
/* 头部logo */
header .logo {
    float: left;
    height: 50px;
    margin-left: 40px;
}
header .logo img {
    height: 100%;
}
/* 班级名称 */
header .webName {
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 50px;
    margin-left: 30px;
}
/* 头部导航栏 */
header .nav {
    position: relative;
    float: right;
    width: 600px;
    height: 100%;
}
.nav ul {
    height: 50px;
}
/* 导航栏各项 */
header .nav li {
    display: inline;
    margin-left: 30px;
    line-height: 50px;
    font-size: 20px;
}
/* 宿舍展开 */
.roomNo {
    /* display: none; */
    position: absolute;
    top: -300px;
    left: 195px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.979);
    z-index: 2;
}
.roomNo dt {
    background-color: rgba(144, 145, 144, 0.938);
    color: rgb(0, 0, 0);
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.roomNo dd {
    height: 30px;
    font-size: 20px;
    text-align: center ;
    line-height: 30px;
    border-top: 1px solid rgba(249, 255, 247, 0.938);
}
.roomNo .triangle {
    position: absolute;
    top: -80px;
    left: 0px;
    width: 0;     
	height: 0;
	line-height: 0; 
	font-size: 0;
    border: 40px solid transparent; 
}
.nav .indexPage:before {
    font-family: 'icomoon';
    content: '\e900';
    padding-right: 10px;
}
/* 导航字体图标 */
.nav .dorm:after ,
.nav .myPro:after {
    font-family: 'icomoon';
    content: '\e9bd';
    padding-left: 10px;
}
/* 项目展开 */
.mine {
    /* display: none; */
    position: absolute;
    top: -100px;
    left: 320px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.mine dt {
    background-color: rgba(144, 145, 144, 0.938);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.mine dd {
    height: 30px;
    font-size: 15px;
    text-align: center ;
    line-height: 30px;
    border-top: 1px solid rgba(144, 145, 144, 0.938);
}
.mine .triangle {
    position: absolute;
    top: -50px;
    left: -2px;
    width: 0;     
	height: 0;
	line-height: 0; 
	font-size: 0;
	border: 40px solid transparent; 
}

.nav .login::before {
    font-family: 'icomoon';
    content: '\e971';
    font-size: 30px;
    border: 3px solid white;
    background-color: #fff;
    border-radius: 15px;
}

.sideNav {
    position: fixed;
    top: 50%;
    right: 80px;
    margin-top: -100px;
    width: 70px;
    height: 280px;
    background-color: pink;
}
.sideNav ul li {
    width: 100%;
    height: 70px;
    font-size: 15px;
    text-align: center;
    line-height: 70px;
}
.sideNav ul li:hover {
    background-color: hotpink;
}

footer {

    height: 100px;
    background-color: #7f8c8d;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
}