@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?1td3xz');
    src:  url('../fonts/icomoon.eot?1td3xz#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?1td3xz') format('truetype'),
      url('../fonts/icomoon.woff?1td3xz') format('woff'),
      url('../fonts/icomoon.svg?1td3xz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
ul li  {
    list-style: none;
    /* display: inline; */
}
/* 背景 */
body {
    
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    /* 控制条纹的大小 */
    -moz-box-shadow: 1px 1px 8px gray;
    -webkit-box-shadow: 1px 1px 8px gray;
    box-shadow: 1px 1px 8px gray;
    
    background-color: #FF9999
    ;   
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,   
                            color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),   
                            color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),   
                            color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),   
                            to(transparent));   
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent);   
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent);   
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,   
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,   
                        transparent 75%, transparent);  
    /* background-color: #aaa3a1; */
}
/* 版心 */
.core {
    width: 1200px;
    margin: 0 auto;
}
/* 头部 */
header {
    height: 50px;
    color: #FFFFFF;
    background-color: #666699;
    border-radius: 10px;
}
#headNav {
    position: sticky;
    top: 0px;
    z-index: 4;
}
/* 头部logo */
header .logo {
    float: left;
    height: 50px;
    margin-left: 40px;
}
header .logo img {
    height: 100%;
}
/* 班级名称 */
header .webName {
    float: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 50px;
    margin-left: 30px;
}
/* 头部导航栏 */
header .nav {
    position: relative;
    float: right;
    width: 600px;
    height: 100%;
}
header .nav a {
    color: #FFFFFF;
}
.nav ul {
    height: 50px;
}
/* 导航栏各项 */
header .nav li {
    display: inline;
    margin-left: 30px;
    line-height: 50px;
    font-size: 20px;
}
/* 宿舍展开 */
.roomNo {
    /* display: none; */
    position: absolute;
    top: -300px;
    left: 195px;
    border-radius: 10px;
    background-color: #666699;
    z-index: 2;
}
.roomNo dt {
    background-color: #FFCCCC;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.roomNo dd {
    height: 30px;
    font-size: 20px;
    text-align: center ;
    line-height: 30px;
    border-top: 1px solid rgba(249, 255, 247, 0.938);
}
.roomNo .triangle {
    position: absolute;
    top: -80px;
    left: 0px;
    width: 0;     
	height: 0;
	line-height: 0; 
	font-size: 0;
    border: 40px solid transparent; 
}
.nav .indexPage:before {
    font-family: 'icomoon';
    content: '\e900';
    padding-right: 10px;
}
/* 导航字体图标 */
.nav .dorm:after ,
.nav .myPro:after {
    font-family: 'icomoon';
    content: '\e9bd';
    padding-left: 10px;
}
/* 项目展开 */
.mine {
    /* display: none; */
    position: absolute;
    top: -100px;
    left: 320px;
    border-radius: 10px;
    background-color: #666699;
    z-index: 2;
}
.mine dt {
    background-color: #FFCCCC;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.mine dd {
    height: 30px;
    font-size: 15px;
    text-align: center ;
    line-height: 30px;
    border-top: 1px solid rgba(144, 145, 144, 0.938);
}
.mine .triangle {
    position: absolute;
    top: -50px;
    left: -2px;
    width: 0;     
	height: 0;
	line-height: 0; 
	font-size: 0;
	border: 40px solid transparent; 
}

.nav .login::before {
    font-family: 'icomoon';
    content: '\e971';
    font-size: 30px;
    border: 3px solid white;
    background-color: #666699;
    border-radius: 15px;
}

.sideNav {
    position: fixed;
    top: 50%;
    right: -70px;
    margin-top: -100px;
    width: 70px;
    height: 280px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;   
    background-color: #a29bfe;
    z-index: 4;
}
.in_sideNav {
    overflow: hidden;
}
.sideNav ul li {
    width: 100%;
    height: 70px;
    font-size: 15px;
    text-align: center; 
    line-height: 70px;
}
.sideNav ul li:hover {
    background-color: hotpink;
    font-weight: 700;
    text-shadow: 1px 2px 1px #a29bfe;
}
.sideNav ul {
    position: relative;
}
.sideNav .showBtn {
    position: absolute;
    top: 74px;
    left: -70px;
    width: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #a29bfe;
    font-size: 20px;
    text-align: center;
    z-index: 5;
    cursor: pointer;
}

footer {

    height: 100px;
    background-color: #666699;
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
}